{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "no-console": 1,
    "id-length": [2, {"exceptions": ["R", "t"]}],
    "space-before-function-paren": 1,
    "space-before-keywords": 1,
    "spaced-comment": 0,
    "react/prop-types": 0,
    "vars-on-top": 0,
    "padded-blocks": 0,
    "guard-for-in": 0
  }
}
